<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Angular JS Example</title>
	<script src="https://code.angularjs.org/1.3.3/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.3.3/angular-messages.min.js"></script>
	<script src="https://code.angularjs.org/1.3.3/angular-resource.min.js"></script>
	<script src="main.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
	<div class="container">
		<div ng-controller="mainController">

			<div class="jumbotron text-center">
				<h2 class="header-2">HELLO {{nameCaps()}}</h2>
			</div>

			<div>
				<label class="alert alert-warning">Please type in 'chris' here: </label>
				<input class="alert alert-info" type="text" ng-model="name">

				<div class="alert alert-danger" ng-show="name !== 'chris' && name.length > 'chris'.length">
					That's not your name!
				</div>
				<div ng-show="name === 'chris'">
					<div class="alert alert-success">
						That's your name!
					</div>
					<button class="btn btn-warning" ng-dblclick="showme=true" >Double Click Button</button>
				</div>
			</div>

			<hr/>

			<div class="wrapper">
				<h1 class="black-font" ng-if="showme">WELCOME TO MY SITE <kbd>{{nameCaps()}}</kbd> !</h1>
			</div>

		</div>
	</div>

	<div class="container-fluid text-center">

		<h1>About</h1>
		<p>About using Angular JS</p>

		<button class="text-center btn btn-warning" ng-click="reveal=!reveal">Click here to toggle</button>

		<div class="row" ng-show="reveal" >
			<div class="col-sm-4" style="background-color:#236B8E;">AngularJS is a structural framework for dynamic web apps. It lets you use HTML as your template language and lets you extend HTML's syntax to express your application's components clearly and succinctly. Angular's data binding and dependency injection eliminate much of the code you would otherwise have to write.</div>
			<div class="col-sm-4" style="background-color:#DB70DB;">AngularJS (commonly referred to as "Angular" or "Angular.js") is a complete JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</div>
			<div class="col-sm-4" style="background-color:#236B8E;">AngularJS (commonly referred to as "Angular" or "Angular.js") is a complete JavaScript-based open-source front-end web application framework mainly maintained by Google and by a community of individuals and corporations to address many of the challenges encountered in developing single-page applications.</div>
			</div>
			</div>
			</div>
		</div>

		<div class="row" ng-show="!reveal" >
			<div class="col-sm-4" style="background-color:#236B8E;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. </div>
			<div class="col-sm-4" style="background-color:#DB70DB;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</div>
			<div class="col-sm-4" style="background-color:#236B8E;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur.</div>
			</div>
			</div>
			</div>
		</div>

		<div class="container2">
			<hr />
			<div ng-controller="secondController" class="second-block">

			<h1 class="black-font text-center">This is an Angular example of using NG-REPEAT</h1>
			<h4 class="text-center">How to learn to code with Angular JS:</h4>

			<ul class="list-group">
				<li class="list-group-item list-group-item-info" ng-repeat="x in list"  ng-class-even="'even'">{{x}}</li>
			</ul>

			</div>	
	    </div>

	    <div class="container2">
			<hr />
			<div ng-controller="thirdController" class="third-block">

			<h1 class="black-font text-center">This is an Angular example of using JSON DATA</h1>
			<h4 class="text-center">Using $http to pull json data from a url</h4>

			<table class="table table-bordered text-center">
			<tr class="info" ng-repeat="x in getInfo | orderBy:'-name'">
			<td>{{ x.name }}</td>
			<td>{{ x.username }}</td>
			<td>{{ x.email }}</td>
			</tr>
			</table>

			</div>	
	    </div>

	</body>
	</html>